<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<ul>
  <li> <a href="/content">/content</a> </li>
  <li> <a href="/login">/login</a> </li>
  <li> <a href="/logout">/logout</a> </li>
  <li> <a href="/register">/register</a> </li>
  <li> <a href="/todo">/todo</a> </li>
</ul>
</body>
</html>
